<th:block th:fragment="header" xmlns:th="http://www.thymeleaf.org">
	<script type="text/javascript" th:src="@{/js/vue.global.min.js}"></script>

	<script type="text/javascript" th:src="@{/js/jquery-3.6.3.min.js}"></script>
    <script type="text/javascript">
        jQuery.browser = {};
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();
    </script>

    <link rel="stylesheet" th:href="@{/js/jquery-ui/jquery-ui.min.css}">
	<script type="text/javascript" th:src="@{/js/jquery-ui/jquery-ui.min.js}"></script>

    <link rel="stylesheet" th:href="@{/js/bootstrap/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/js/bootstrap/js/bootstrap.bundle.min.js}"></script>
</th:block>