<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="~{layout/header :: header}" />
<script th:inline="javascript">
</script>
</head>
<body>
	<div class="container">
		<form th:action="@{/saveUser}" th:object="${userDto}" th:method="post">
    		<div class="mb-3">
				<label for="userId" class="form-label">사용자ID</label>
				<input th:type="text" th:field="*{userId}" class="form-control" placeholder="자동으로 생성됩니다." readonly="readonly" />
    		</div>
    		<div class="mb-3">
				<label for="userName" class="form-label">사용자명</label>
				<input th:type="text" th:field="*{userName}" class="form-control" placeholder="사용자명" />
    		</div>
    		<div class="mb-3">
				<label for="createDt" class="form-label">생성날짜</label>
				<input th:type="text" th:field="*{createDt}" class="form-control" placeholder="자동으로 생성됩니다." readonly="readonly" />
    		</div>
    		<div class="mb-3">
				<label for="updateDt" class="form-label">수정날짜</label>
				<input th:type="text" th:field="*{updateDt}" class="form-control" placeholder="자동으로 생성됩니다." readonly="readonly" />
    		</div>
			<div class="row justify-content-between">
				<div class="col-4">
					<a th:href="@{/listUser}" class="btn btn-primary">목록</a>
				</div>
				<div class="col-4">
					<button type="reset" class="btn btn-primary">초기화</button>
					<button type="submit" class="btn btn-primary">저장</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>