<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="~{layout/header :: header}" />
<script th:inline="javascript">
function selectRow(userDto) {
	delete userDto['userEtcs'];
	var url = /*[[@{/saveUserForm}]]*/ null;
	location.href =  url + "?" + $.param(userDto);
}
</script>
</head>
<body>
	<div class="container text-center">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">번호</th>
					<th scope="col">아이디</th>
					<th scope="col">이름</th>
					<th scope="col">생성날짜</th>
					<th scope="col">수정날짜</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="userDto : ${userDtoList}" th:ondblclick="selectRow([[${userDto}]])">
					<th scope="row" th:text="${userDtoStat.count}"></th>
					<td class="col" th:text="${userDto.userId}"></td>
		            <td class="col" th:text="${userDto.userName}"></td>
		            <td class="col" th:text="${userDto.createDt}"></td>
		            <td class="col" th:text="${userDto.updateDt}"></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/saveUserForm}" class="btn btn-primary">등록</a>
	</div>
</body>
</html>